<h1>Caesar Cipher</h1>

<h4>Instructions</h3>
<h5>This program takes in a string and the shift factor and then outputs a modified string.</h5>

<form>
  String:<br>
  <input type="text" name="string" value="<%= @string %>"><br><br>
  Shift:<br>
  <input type="number" name="num"><br><br>
  <input class="submit" type="submit" value="SUBMIT"><br>
</form>

<h2>Output:</h2>
<h3><%= @output %><h3>
